<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/actualizarr" method="post">
        <label for="txtFruta">Nombre de la Fruta:</label>
        <input type="text" name="txtFruta" placeholder="Nombre de la fruta"><br>
        <label for="txtTemporada">Temporada:</label>
        <input type="text" name="txtTemporada" placeholder="Temporada"><br>
        <label for="txtPrecio">Precio:</label>
        <input type="number" name="txtPrecio" placeholder="Precio"><br>
        <label for="txtStock">Stock:</label>
        <input type="number" name="txtStock" placeholder="Stock"><br>
        <button type="submit">Actualizar</button>
    </form>
</body>
</html>