<!DOCTYPE html>
<html charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD ALBUMS</title>

</head>


<body>
    <br>
    <br>
 <center><h1>Fruteria</h1>
    <br>
    <form action="/guardar" method="post">

        <input type="text" name="txtFruta" placeholder="Fruta">
        <input type="text" name="txtTemporada" placeholder="Temporada ">
        <input type="number" name="txtPrecio" placeholder="Precio">
        <input type="number" name="txtStock" placeholder="Stock">

        <button type="submit">Guargar </button>
    </form>
    <br>
    <br>

    <form>
        <a href="{{ url_for('consultar') }}"><button type="button"> Consultar</button></a>

    </form>
  </center>


  
    
</body>
</html>