<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Album</title>
</head>
<body>  
    <center>
    <br>
    <h1> Eliminar Album </h1>
    <br>
    <br>

    <h1>Confirmar eliminación del álbum:</h1>
    <p>Título: {{ album[1] }}</p>
    <p>Artista: {{ album[2] }}</p>
    
    <form action="/eliminar/{{ album[0] }}" method="POST">
      <p>¿Estás seguro de que deseas eliminar este álbum?</p>
      <input type="hidden" name="respuesta" value="s">
      <input type="submit" value="Sí">
    </form>
    
    <form action="/" method="GET">
      <input type="submit" value="No">
    </form>
      
</body>
</html>