<!DOCTYPE html>
<html charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD ALBUMS</title>
</head>
<body>
    <br>
    <br>
    <center><h1>Gestion de Albums</h1></center>
    <br>
    <form action="/guardar" method="post">
        <input type="text" name="txtTitulo" placeholder="Escribe Titulo">
        <input type="text" name="txtArtista" placeholder="Escribe Artista">
        <input type="number" name="txtAnio" placeholder="Escribe Año">
        <button type="submit">Guargar </button>
    </form>
</body>
</html>